/* bootstrap overrides */

.navbar-light .navbar-brand {
    color: darkslateblue;
}

.nav-link {
    padding: 0.5rem 1rem .5rem 0rem;
}

a {
    font-family: "Lucida Sans Typewriter";
}

/* end bootstrap overrides */


body {
    font-weight: 400;
    line-height: 1.6;
    color: goldenrod;
    background-image: linear-gradient(to right bottom, darkslateblue, midnightblue );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.intro-text {
    margin-bottom: 10%;
    padding-top: 5%;
    color: #D7ECFF;
}

.intro-text h1 {
    text-align: center;
    font-size: 4rem;
    padding: 0 5%;
    text-transform: capitalize;
}

.projects-area {
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    padding: 2rem;
    box-shadow: 0 10px 15px -6px black;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-area h2 {
    font-family: helvetica;
    font-size: 2.5rem;
    color: darkslateblue;
    font-weight: 300;
    text-align: center;
}

.projects-area h3 {
    margin-top: 5%;
    text-align: center;
}

.projects-area h2 span {
    text-transform: capitalize;
}

.projects-area a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: normal;
    color: #386894;
}

