/* bootstrap overrides */
.jumbotron.intro-text {
	background-color: inherit;
	margin: 0;
}
.navbar-light .navbar-brand {
    color: darkslateblue;
}
.navbar {
	padding: 1% 5% 1% 5%;
}
.nav-link {
    padding: 0.5rem 1rem .5rem 0rem;
}
.card img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}
.intro-text .container {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.card {
	max-width: 25rem;
	min-width: 15.8rem;
	margin: 2rem 0;
}
.card-deck {
	justify-content: space-around;
}
a {
    font-family: "Lucida Sans Typewriter";
}
/* end bootstrap overrides */
body {
    font-weight: 400;
    line-height: 1.6;
    color: gray;
    background-image: linear-gradient(to right bottom, darkslateblue, midnightblue );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.mw1920 {
	max-width: 120rem;
	margin: auto;
}
.intro-text {
	padding: 5% 5% 0;
    color: whitesmoke;
}
.intro-text h1 {
    font-size: 3rem;
    text-transform: capitalize;
}
.projects-area {
    margin: auto;
	padding: 5%;
}
.about-me {
	display: flex;
	justify-content: space-between;
	height: 45rem;
	padding: 5% 5% 0;
}
.aaron-img {
	position: relative;
	width: 100%;
	max-width: 30rem;
	height: 100%;
	background: url('../assets/img/aaron-m.jpg') center center no-repeat;
	background-size: cover;
}
.aaron-txt p {
	color: whitesmoke;
    font-size: 1.5rem;
	font-weight: 100;
	padding: 5rem 2rem 0;
}
.aaron-img:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right bottom, darkslateblue, midnightblue );
	opacity: .6; 
}
.projects-area h2, .about-me h2 {
    font-family: helvetica;
    font-size: 2.5rem;
    color: whitesmoke;
	font-weight: 300;
	margin: 2% 0;
	text-transform: capitalize;
}
.projects-area h2 span {
    text-transform: capitalize;
}
.projects-area a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: normal;
    color: slateblue !important;
}
/*Vertical Sliding*/
.sliding-vertical{
	display: inline;
	text-indent: 0.4rem;
}
.sliding-vertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #80bdff;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.sliding-vertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.sliding-vertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.sliding-vertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.sliding-vertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
.sliding-vertical span:nth-child(6){
	animation-delay: 12.5s;
	-ms-animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
}
/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@media only screen and (max-width: 600px) {
	body {
		background-repeat: repeat-y;
	}
	.hide-on-mobile {
		display: none !important;
	}
	.projects-area {
		width: 100%;
	    padding: 0 5% 5%;
	}
	.about-me {
		flex-direction: column;
	}
	.aaron-img {
		display: none;
	}
	.about-me blockquote {
		margin-left: 0;
		margin: auto;
		text-align: center;
	}
	.aaron-txt p {
		padding: 2rem 0 0;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 1200px) {
	.hide-on-mobile {
		display: block !important;
	}
}